<div class="form_container">

  <h1>Nouveau Gardien</h1>

  <%= simple_form_for(guardian) do |f| %>

    <div class="input-icon-wrapper">
      <i class="fas fa-user mystic-red"></i>
      <%= f.input :name,
                  placeholder: "Nom",
                  label: false,
                  required: true %>
    </div>

    <div class="input-icon-wrapper">
      <i class="fas fa-phone mystic-red"></i>
      <%= f.input :phone_number,
                  placeholder: "Téléphone (+33...)",
                  label: false,
                  required: true %>
    </div>

    <div>
      <%= f.button :submit, "Enregistrer", class: "btn-cta" %>
    </div>

  <% end %>
</div>
