<div class="container" style="background: white; min-height: calc(100vh - 56px); margin: 0 auto; padding: 40px 20px; max-width: 500px;">

  <div><%= render "form", guardian: @guardian %></div>

  <%# <div><%= link_to "Retour", guardians_path</div> %>
</div>
