<div class="form_container" style="bleu-vert-fonce">
  <div><h1>Nouveau Guardian</h1></div>

  <div><%= render "form", guardian: @guardian %></div>

  <div><%= link_to "Retour", guardians_path %></div>
</div>
