<div class = container>

<h1><%= @guardian.name %></h1>

<p>
  <strong>Numéro :</strong>
  <%= @guardian.phone_number %>
</p>

<%= link_to "Modifier", edit_guardian_path(@guardian) %> |
<%= link_to "Retour à la liste", guardians_path %>

</div>
