// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$ourlight-gray:#E2DFD6;
$middle-gray: #415E66;
$dark-gray: #434E53;
$info-gray: #334D54;
// Couleurs rajouté
$beige-clair:          #F2EDE6;
$beige-grise:          #E6E0D8;
$bleu-vert-clair:      #7AA0A0;
$bleu-vert:            #4F6B6B;
$bleu-vert-fonce:      #2E4040;
$noir-bis:             #1E1F20;


// bg colors
.bg-dark-gray {
  background-color:$dark-gray !important;
}

// polices colors
.green {
  color: $green !important;
}

.blue {
  color: $blue !important;
}

.orange {
  color: $orange !important;
}


.info-gray {
  color: $info-gray !important;
}
.police {
  color: $dark-gray !important;
}

.ourlight-gray {
  color:$ourlight-gray !important;
}

// nav-tabs colors
.nav-tabs .nav-link.police {
  color: $dark-gray !important;
}

.nav-tabs .nav-link.active {
  border-width: 4px;
  border-top-color: $dark-gray !important;
  border-left-color: $dark-gray !important;
  border-right-color: $dark-gray !important;
  border-bottom-color: transparent !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
.bg-light-gray {
  background-color:$light-gray !important;
}
