<div class="container" style="background: white; min-height: calc(100vh - 56px); margin: 0 auto; padding: 40px 20px; max-width: 500px;">
  <div><%= render "form", registration: @registration %></div>

  <div style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
    <%= render "devise/shared/links" %>
  </div>
</div>

<%= render "shared/navbar" %>
