<div class="user_profile_banner">
  <%= image_tag "banner_sign_in.jpg", class: "user_profile_banner_img", alt: "Banner" %>
  <div class="user_profile_banner_overlay"></div>
  <div class="user_profile_banner_content">
    <h1>Inscription</h1>
    <p>Créer ton compte pour rejoindre la communauté SafeRun.</p>
  </div>
</div>

<div class="container">
  <div class="user-profile">
    <%= render "form" %>
  </div>
</div>
