

<div class="form_container">
  <div class="user_profile_banner">
  <div class="user_profile_banner_overlay"></div>
  <div class="user_profile_banner_content">
    <h1>Inscription</h1>
    <p class="text-center mt-3">Créer ton compte pour rejoindre la communauté SafeRun.</p>
  </div>
</div>
  <div class="user-profile">
    <%= render "form" %>
  </div>
</div>
