<%= render "shared/navbar" %>
<div class="container">
  <div><h1>Liste des Badges</h1></div>
  <div>
    <% @badges.each do |badge| %>
      <h2>
        <i class="fa-solid fa-crow"></i>
        <%= link_to badge.name, badge_path(badge), class: "text-decoration-none text-dark" %>
      </h2>
    <% end %>
  </div>
  <div>
  </div>
</div>
