<div class = container >
  <div><%= link_to "Retour Index", badges_path %></div>
  <div><h1>Mes Badges</h1></div>
  <div><h2>
    <%= @badge.name %>
  </h2></div>
  <div><p>
    <%= @badge.description %>
  </p></div>

  <div><%= link_to "Retour", badges_path %></div>
</div>
