<div class="home-bg-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('homebright.jpg') %>'); background-size: cover; background-position: center; min-height: 100vh;">
<div class="container">
  <h1 class="blanc" style="display: flex; justify-content: center; padding-top: 10vh;">SafeRun</h1>
  <div class="d-flex justify-content-center">
    <% if user_signed_in? %>
      <%= link_to "Lancer une Run", new_run_path, class: "btn-home", style: "margin-top: 20vh;" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "btn-home", style: "margin-top: 20vh;" %>
    <% end %>
  </div>
</div>
