<div class="form_container" >
  <h1>Log in</h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="input-icon-wrapper">
      <i class="fas fa-envelope"></i>
      <%= f.input :email,
                  placeholder: "Email",
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="input-icon-wrapper">
      <i class="fas fa-lock"></i>
      <%= f.input :password,
                  placeholder: "Mot de passe",
                  label: false,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div>
      <%= f.button :submit, "Se connecter", class: "btn-cta" %>
    </div>
  <% end %>
</div>
