<div class="form_container bg-light-gray" style="min-height: 50vh; margin: 20px auto; max-width: 420px;">
  <h2 class="text-center">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>

      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions mt-3">
      <%= f.button :submit, "Se connecter", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
