<div class="container" style="background: white; min-height: calc(100vh - 56px); margin: 0 auto; padding: 40px 20px; max-width: 500px;">
<%= render "shared/navbar" %>

<div><%= render "form", session: @session %></div>

<%= render "devise/shared/links" %>
</div>
