.btn {
  padding: 12px;
  border-radius: 8px;
  background-color: $dark-gray;
  color: $ourlight-gray;
}

.btn-home {
  padding: 1rem 2rem;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.9);
  color: $black;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.btn-new-run {
  display: inline-block;
  background-color: $mystic-red;
  color: $black;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 9px;
}

.btn-cta {
  display: inline-block;
  background-color: $mystic-red;
  color: $black;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 9px;
}

.btn-profile-runs {
  display: inline-block;
  background-color: $black;
  color: $blanc;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  border-radius: 8px;
  text-decoration: none;
  border: none;
}

.btn-new-guardian {
  display: inline-block;
  background-color: $mystic-red;
  color: $black;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 9px;
}

.btn-profile-guardian {
  display: inline-block;
  background-color: $black;
  color: $blanc;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  border-radius: 8px;
  text-decoration: none;
}

.btn-new-info {
  display: inline-block;
  background-color: $mystic-red;
  color: $black;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 9px;
}
