.navbar {
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 1030;

  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar a i {
  color: #fff;
  font-size: 1.7rem;
}

.navbar a.active i {
  color: $mystic-red !important;
}
