// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");


// External libraries
@import "bootstrap";
@import "font-awesome";

//h1 override
h1, .h1 {
  font-family: $h1-font;
}

// Your CSS partials
@import "components/index";
@import "pages/index";
